<h1><%= @message %></h1>
<form action="/edit-cd">
  <div class="form-group">
    <div style="display:none;">
      <label for="id"></label>
      <%= "<input name='id' id='id' value='#{@id}'>" %>
    </div>
     <label for="title">CD title:</label>
     <input name="title" id="title" class="form-control" type="text">
     <label for="artist">Artist:</label>
     <input name="artist" id="artist" class="form-control" type="text">
  </div>
  <button class="btn btn-success">Edit CD</button>
</form>
